<div class="col-md-12">
  <div>
    <ul class="nav nav-tabs nav-tabs-flex" role="tablist">
      <li role="presentation" class="active">
        <a href="#tabContent" aria-controls="tabContent" role="tab" data-toggle="tab">{{ 'lbl.Content'|trans|ucfirst }}</a>
      </li>
    </ul>
    <div class="tab-content">
      {% for translationField in form.translations %}
        {% set SEOTabName = 'tabSEO' ~ locale|ucfirst %}
        <div role="tabpanel" class="tab-pane" id="{{ SEOTabName }}">
          <div class="row">
            {{ form_widget(translationField.meta) }}
          </div>
        </div>
      {% endfor %}
      <div role="tabpanel" class="tab-pane active" id="tabContent">
        {{ form_rest(form) }}
      </div>
    </div>
  </div>
</div>
